.social-wrap{
    max-width: 400px;
    margin-top: 20px;
    margin-left: auto;
    text-align: center;
}
a{
    color: inherit;
}
.social-icon{
    font-size: 36px;
    color: inherit;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.social-icon:hover{
    opacity: 0.9;
}
@media(max-width: 320px){
    .social-icon{
        font-size: 12vw;
        margin-left: 3vw;
        margin-right: 3vw;
    }
}